streamlit
pandas
numpy
matplotlib
seaborn
plotly
scikit-learn
scipy
openai
faker
yfinance
ta
mlxtend
shap
graphviz
xgboost
umap-learn
librosa
soundfile
networkx
joblib
wordcloud
textblob
Pillow
requests
openpyxl
